
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #00a1e0;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Style pagina index */

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-cor {
    margin: 2%;
    max-width:700px;
    max-height:700px;
    width: auto;
    height: auto;
    border-radius: 16px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-principal);
}

.cabecalho {
    padding: 2% 0 0 0;
}

.cabecalho__menu {
    border-top: 1px double var(--cor-terciaria);
    border-bottom: 1px solid var(--cor-terciaria);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 80px;
    padding: 2% 0 2% 5%; 
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
}

.cabecalho__menu__link {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-terciaria);
}

.img-sal {
    width: auto;
    height: auto;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--cor-terciaria);
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-principal); 
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-secundaria);
}

.img-lin {
    max-width:25px;
    max-height:25px;
}

.img-est {
    max-width:25px;
    max-height:25px;
}

.img-git {
    max-width:25px;
    max-height:25px;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-terciaria);
    padding: 5%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding: 24px;
    text-align: center;
}

/* Style pagina curriculum */

.apresentacao__curriculo { 
    font-size: 16px;
    font-family: var(--fonte-principal);
    text-align: center;
}

.apresentacao__curriculo__titulo {
    padding: 2%
}

.apresentacao__curriculo__skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
}

.skills {
    display: flex;
    flex-direction: column;
    padding: 2%
}